@@@@
## Changelog for version {{ version }} ({{ close_date }})

{% if issues|length -%}
    {% for label_group, grouped_issues in issue_label_groups.items() %}
        ### {{ label_group }}

        {% for i in grouped_issues -%}
            * #{{ i['number'] }} - {{ i['title'] }}
        {% endfor -%}
    {% endfor %}
{% endif -%}
@@@@
